* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Merriweather", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}

.left-links a,
.right-links a {
  color: #f0faf8;
}

.left-links a {
  font-weight: bold;
  font-size: 24px;
}

.right-links ul {
  display: flex;
  gap: 2rem;
}

.right-links {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: lighter;
}

.hero {
  background-color: #1f2937;
  color: #f0faf8;
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
}

.hero-text,
.hero-image {
  width: 45%;
}

.hero-text h2 {
  font-weight: extra-bold;
  font-size: 48px;
}

.hero-text p {
  margin-top: 5px;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: lighter;
  color: #e5e7eb;
}

.hero-text button {
  color: #e5e7eb;
  background-color: #3882f6;
  font-size: 20px;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: 0;
}

.hero-image {
  background-color: grey;
}

.content h1 {
  margin: 2rem auto;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto 30px auto;
}

.card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
  margin: 0 8px;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: 4px solid #3882f6;
  margin-bottom: 10px;
}

.quote {
  background-color: #e5e7eb;
  padding: 4rem;
}

.quote-text {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote-author {
  text-align: end;
  font-weight: bold;
  width: 80%;
  margin-top: 1rem;
}

.action-container {
  width: 70%;
  height: 150px;
  background-color: #3882f6;
  border-radius: 15px;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-text {
  margin-right: 5rem;
  color: #e5e7eb;
}

.action-text .title {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.action-text .text {
  font-weight: lighter;
}

.action button {
  border-radius: 5px;
  padding: 0.4rem 2rem;
  border: 2px solid #e5e7eb;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 1rem;
  font-weight: lighter;
  font-size: 14px;
}
